.new-arrivals{
    margin-top: 50px;
    margin-bottom: 50px;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Space between the line and text */
  }
  
  .line {
    flex: 1; /* Makes the line expand */
    border-bottom: 1px solid #000; /* Adjust thickness and color */
  }
  
  .hello-text {
    margin: 0;
    padding: 0 10px; /* Optional padding around text */
    font-size: 24px; /* Adjust text size as needed */
  }
  

  .position-relative {
    position: relative;
  }
  
  .blurred-rectangle {
  position: absolute;
  top: 80%; /* Adjust rectangle position */
  width: 100%; /* Rectangle width */
  height: 25%; /* Rectangle height */
  background-color: rgba(15, 2, 88, 0.637); /* Initial background color */
  backdrop-filter: blur(1%); /* Apply blur effect */
  border-radius: 0px; /* Optional rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  .saree-text{
    font-size: 34px;
    font-weight: bold;
    color: #fefeff;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }