.admin-card {
    cursor: pointer;
    border: none;
    overflow: hidden;
    width: 80%;
  }
  
  .admin-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .admin-card-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  .admin-card-text {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  }
  