* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .container {
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

ul {
    list-style: none;
}
.content{
  margin-top: 100px;
}

.footer {
    margin-top: 100px;
    background-color: #180d43;
    padding: 70px 0;
    line-height: 1.5;
    font-family: 'Arvo', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

.footer-col {
    flex: 1; /* Makes each column take equal space */
    min-width: 200px; /* Sets a minimum width for smaller screens */
    padding: 0 15px;
  }

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#ffffff;
    padding-left:10px ;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color:#ffffff ;
}
@media (max-width: 768px) {
    .footer-col {
        width: 50%; /* Two columns for smaller screens */
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .footer-col {
        width: 100%; /* Stacks all columns vertically */
    }
}
.footer-col {
    flex: 1; /* Makes each column take equal space */
    min-width: 200px; /* Sets a minimum width for smaller screens */
    padding: 0 15px;
  }